{% extends 'account_template/base_template.html' %}
{% block page_title %}
<i class="nav-icon fas fa-tachometer-alt"></i> HOME
{% endblock page_title %}
{% block main_content %}
{% load static %}
<!-- Main content --><section class="content">
<div class="card">
  <img src="{% static 'dist/img/founder.jpg' %}" alt="Card Image" class="card-img-top" style="display: none;">
  <div class="card-body">
    <h5 class="card-title">Welcome to the School Management System! </h5>
    <p class="card-text"><p>Hello,</p>

<p>I’m Simiyu Ezra, an alum of Kabarak University, where I studied Computer Security and Forensics. With my background and expertise, I am excited to present to you this School Management System—a platform designed to streamline and enhance the administrative and academic processes of educational institutions.</p>

<p>My goal is to provide a comprehensive and user-friendly solution that makes school management more efficient, secure, and accessible. From student enrollment and attendance tracking to grades and communication, our system is equipped to handle all aspects of school operations seamlessly.</p>

<p>Thank you for visiting. I hope this system proves to be a valuable asset to your educational institution.</p>

<p>Best regards,</p>

<p>Simiyu Ezra.</p>

<p>Alumni of Kabarak University.</p>

<p>Developer & Designer of the School Management System.</p>
    <a href="#" class="btn btn-primary">To The Top</a>
  </div>
</div>

  <div class="container-fluid">
      <div class="row">
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info shadow-custom">
          <div class="inner">
            <h3>{{ student_count }}</h3>

            <p>Total Students</p>
          </div>
          <div class="icon">
            <i class="nav-icon fas fa-user-graduate"></i>
          </div>
          <a  href="{% url 'account_financial_record_list' %}"class="small-box-footer">More info... <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success shadow-custom">
          <div class="inner">
            <h3>{{ finance_count }}</h3>

            <p>Total Financial Receipts</p>
          </div>
          <div class="icon">
            <i class="nav-icon fas fa-file-invoice-dollar"></i>
          </div>
          <a href="{% url 'account_financial_record_list' %}" class="small-box-footer">More info... <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success shadow-custom">
          <div class="inner">
            <h3>{{ leave_count }}</h3>

            <p>Total Leaves Taken</p>
          </div>
          <div class="icon">
            <i class="ion ion-stats-bars"></i>
          </div>
          <a href="{% url 'account_apply_leave' %}" class="small-box-footer">More info... <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
     </div>
  </section>
     

{% endblock main_content %}
